@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

:root {
  --main-red-color: #ec5242;
  --light-grey: #d3d3d3;
  --dark-grey: #5a5a5a;
  --darker-grey: #272a31;
}

* {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--dark-grey);
}

body {
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  padding: 30px;
  column-gap: 20px;
  justify-content: space-between;
}

footer img {
  width: 150px;
}

footer p {
  font-size: 0.7rem;
  margin: auto;
  padding: 0;
}

.nav-and-main {
  background-image: url('images/background1.png');
  background-size: cover;
}

.navigation-mobile button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.navigation-mobile i {
  font-size: 40px;
  color: rgb(87, 87, 87);
}

.hello-sharing-world {
  color: var(--main-red-color);
  font-size: 1.5rem;
  margin: 10px 20px;
}

.main-title {
  color: var(--main-red-color);
  font-size: 2rem;
  font-weight: 900;
  margin: 5px 20px;
}

.main-description {
  margin: 20px;
  padding: 10px;
  background: #eee;
  border: 2px solid white;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.main-dates {
  color: var(--dark-grey);
  font-weight: 900;
  font-size: 1.5rem;
  margin: 20px;
  margin-bottom: 10px;
}

.main-place {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 50px;
}

.main-program {
  background-color: var(--darker-grey);
  background-image: url('images/robot.png');
  background-size: 50px 50px;
  display: flex;
  flex-direction: column;
}

.main-program hr {
  border: 0.2px solid transparent;
  border-top: 0.5px solid var(--main-red-color);
  margin: 0 auto;
  width: 40px;
  margin-bottom: 20px;
}

.main-program-title {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  padding-top: 20px;
}

.program {
  margin: 10px;
  background-color: rgba(84, 84, 84, 0.748);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

.program img {
  padding-left: 10px;
  width: 48px;
  height: 48px;
}

.program h2 {
  color: var(--main-red-color);
  min-width: 80px;
}

.program p {
  color: rgb(216, 214, 214);
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding-right: 10px;
}

.join-CC {
  background-color: var(--main-red-color);
  border: none;
  margin: 20px auto;
  height: 70px;
  padding: 0 30px;
  color: rgb(216, 214, 214);
  font-weight: 600;
  align-items: center;
  text-align: center;

  /* CENTRAR TEXTO DEL BUTTON! */
}

.featured-speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.featured-speakers > h2 {
  font-size: 1.2rem;
}

.featured-speakers > hr {
  border: 0.2px solid transparent;
  border-top: 1px solid var(--main-red-color);
  margin: 0 auto;
  width: 40px;
  margin-bottom: 20px;
}

.speaker {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.speaker img {
  /* height: 50%;
    width: 50%; */
  max-height: 150px;
  max-width: 150px;
}

.speaker-info > h2 {
  font-weight: 800;
  font-size: 1.2rem;
}

.speaker-info > h3 {
  color: var(--main-red-color);
  font-weight: 400;
  font-style: italic;
}

.speaker-info > hr {
  border: 0.2px solid transparent;
  border-top: 2px solid var(--light-grey);
  margin-left: 0;
  width: 30px;
}

.speaker-info > p {
  font-size: 0.8rem;
}

.more {
  border: 1.7px solid var(--light-grey);
  background: transparent;
  padding: 15px;
  margin: 20px;
  width: 90%;
  cursor: pointer;
}

.arrow-more-down {
  color: var(--main-red-color);
  padding-left: 10px;
}

.partner {
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner h2 {
  color: rgb(216, 214, 214);
  font-size: 1.4rem;
}

.partner hr {
  border: 0.2px solid transparent;
  border-top: 1px solid var(--main-red-color);
  margin-top: 0;
  width: 40px;
}

.partner-logos {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  justify-content: space-between;
  margin: 20px auto;
}

.partner-logos img {
  height: 80px;
}
